@using Projet_2022.Models.ViewModels

@{
	ViewData["Title"] = "All Products for this category";
}
@model CategoryCategoriesBrandsVM;

<section class="navbar main-menu">
	<div class="navbar-inner main-menu">
		<nav id="menu" class="pull-right">
			<ul>
				@foreach (var item in Model.Categories)
				{
					<li><a asp-action="Category" asp-controller="Category" asp-route-id=@item.Id>@item.Name</a></li>
				}
			</ul>
		</nav>
	</div>
</section>
<section class="header_text sub">
	<img class="pageBanner" src="~/themes/images/pageBanner.png" alt="New products">
	<h4><span>All products for Category @Model.Category.Name</span></h4>
</section>
<section class="main-content">

	<div class="row">
		<div class="span9">
			<ul class="thumbnails listing-products">
				@foreach (var item in Model.Category.Products)
				{
					<li class="span3">
						<div class="product-box">
							<span class="sale_tag"></span>
							<a asp-controller="Product" asp-action="ProductDetail" asp-route-id=@item.Id><img src=@item.PrincipalImage style="height:270px;width:270px"></a><br />
							<a asp-controller="Product" asp-action="ProductDetail" asp-route-id=@item.Id class="title">@item.Name</a><br />
							<a href="#" class="category">@item.Name</a>
							<p class="price">@item.Price</p>
						</div>
					</li>
				}
			</ul>
			<hr>

		</div>
		<div class="span3 col">
			<div class="block">
				<ul class="nav nav-list below">
					<li class="nav-header"><a asp-controller="Brand" asp-action="Index">All Brands</a></li>

					@foreach (var item in Model.Brands)
					{
						<li><a asp-controller="Brand" asp-action="Brand" asp-route-id=@item.Id>@item.Name</a></li>
					}
				</ul>
			</div>
		</div>
	</div>
</section>